@{
    ViewData["Title"] = "Api Domino";
}

<div class="text-center">
    <h1 class="display-4">Api Domino</h1>
    <p>Proyecto que organiza fichas, asignándoles nombres (izquierda y derecha) con el fin de organizar la cadena de salida. </p>
</div>
